<p-card [styleClass]="styleClass">

    <div class="flex justify-content-center b-2">
        <img [src]="image" class="w-6rem h-12rem" id="produto-card-image"/>
    </div>
    
    <ng-template pTemplate="content">
        <div class="flex flex-column justify-content-around">
            <div>
                <p class="m-0">{{title}}</p>    
            </div>
            
            <!-- <div>
                <p class="m-0">aaa</p>    
            </div> -->
        </div>
    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="flex justify-content-between">
            <div class="font-bold text-green-500 text-lg">{{price | currency : 'BRL'}}</div>
            <p-button label="Adicionar" icon="pi pi-shopping-cart" (onClick)="adicionarProduto(id)"></p-button>
        </div>
    </ng-template>

</p-card>
