<p-dataView #dv gridStyleClass="justify-content-center" [value]="produtos" [rows]="15" [paginator]="true" [pageLinks]="3">
    <ng-template let-produto pTemplate="listItem" class="p-col-12 p-md-6 p-lg-4 p-xl-3">
        <div class="w-3 m-4">
            <app-card 
                [id]="produto.id"
                [title]="produto.nome"  
                [description]="produto.descricao"
                [image]="produto.imagem"
                [price]="produto.preco"
                styleClass="h-full flex flex-column justify-content-around" />
        </div>
    </ng-template>
</p-dataView>