<p-menubar [model]="items" class="align-items-center">
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng-logo-dark.svg" height="40" class="mr-2" />
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex gap-2">
            <p-button (click)="gerarTeste()" >Gerar teste</p-button>
            <div>
                <input type="text" pInputText placeholder="Buscar" class="w-full" />
            </div>
            <app-carrinho></app-carrinho>
        </div>
    </ng-template>
</p-menubar>

