<p-overlayPanel #op>
    <div *ngFor="let produto of produtos()">
        <app-mini-card [id]="produto.id" [title]="produto.nome" [price]="produto.preco" />
    </div>
    <div></div>
    <div *ngIf="produtos().length > 0" class="flex justify-content-end">
        <p-button label="Finalizar compras" (onClick)="finalizarCompras()"></p-button>
    </div>
</p-overlayPanel>
<p-button (click)="op.toggle($event)" icon="pi pi-shopping-cart" label="Meu Carrinho"></p-button>