<p-dataView [value]="pagamentos" [paginator]="true" [rows]="10">
    <ng-template let-pagamento pTemplate="listItem">
        <div class="grid w-8 m-auto">
            <div class="col-2 flex gap-2 align-items-center">
                <label class="font-bold">Quantidade:</label>
                <p>{{ pagamento.quantidade }}</p>
            </div>
            <div class="col-6 flex gap-2 align-items-center">
                <label class="font-bold">Produto:</label>
                <p>{{ pagamento.produto.nome }}</p>
            </div>
            <div class="flex gap-2 align-items-center">
                <label class="font-bold">Data de Pagamento:</label>
                <p>{{ pagamento.createdAt | date }}</p>
            </div>
        </div>
    </ng-template>
</p-dataView>

