<div class="flex gap-2 align-items-center my-2">
    <div class="w-full">{{title | slice:0:35}}...</div>
    <div class="font-bold text-green-500">{{price}}</div>
    <div>
        <p-button 
            icon="pi pi-times" 
            styleClass="p-button-danger p-button-outlined"
            (onClick)="removerProduto(id)"
        ></p-button> 
    </div>
</div>